<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <header class="top">
      
    </div>
    <div class="form" action="#" method="GET">
        <div class="input">Buscar productos, marcas y más</div>
        <div class="submit"><i class="fa fa-search"></i></div>
    </div>
    <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
</div>

      <img src="./images/logo-mercado-liebre.svg" />
      <input type="search" name="Buscar" />
      <h3>Comprá en cuotas y sin tarjeta credito</h3>
      <nav>
        <ul>
          <li><a href="https://ofertas.com" target="_blank"> Ofertas</a></li>
          <li>
            <a href="https://TiendasOficiales.com" target="_blank">
              Tiendas Oficiales</a
            >
          </li>
          <li><a href="https://vender.com" target="_blank"> Vender </a></li>
          <li><a href="https://ayuda.com" target="_blank"> Ayuda </a></li>
        </ul>

        <ul>
          <li>
            <a href="https://creartucuenta.com" target="_blank">
              Creá tu cuenta</a
            >
          </li>
          <li>
            <a href="https://TiendasOficiales.com" target="_blank"> Ingresá</a>
          </li>
          <li>
            <a href="https://miscompras.com" target="_blank"> Mis Compras </a>
          </li>
        </ul>
      </nav>

      <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
      <section>
        <h3>Última vista</h3>
        <article>
          <img src="./images/img-cafetera-moulinex.jpg" />
          <p class="precios">$6.770</p>

          <p>40% OFF</p>

          <h4>Cafetera Moulinex</h4>
        </article>

        <article>
          <img src="/images/img-macbook-pro-2019.jpg" />
          <p>$230.000</p>

          <p>20% OFF</p>

          <h4>MacBook pro 2019</h4>
        </article>

        <article>
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="" />
          <p class="precios">$70.500</p>

          <p>10% OFF</p>

          <h4>Samsung Galaxy S10</h4>
        </article>

        <article>
          <img src="/images/img-tv-samsung-smart.jpg" alt="" />
          <p class="precios">$23.200</p>

          <p>5% OFF</p>

          <h4>SmarTv Samsung 43"</h4>
        </article>
      </section>
      <section>
        <h3>Sección Ofertas</h3>
        <article>
          <img src="/images/img-cafetera-moulinex.jpg" alt="" />
          <p class="precios">$6.770</p>

          <p>40% OFF</p>

          <h4>Cafetera Moulinex</h4>
        </article>

        <article>
          <img src="/images/img-macbook-pro-2019.jpg" alt="" />
          <p class="precios">$230.000</p>

          <p>20% OFF</p>

          <h4>MacBook pro 2019</h4>
        </article>

        <article>
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="" />
          <p class="precios">$70.500</p>

          <p>10% OFF</p>

          <h4>Samsung Galaxy S10</h4>
        </article>

        <article>
          <img src="/images/img-tv-samsung-smart.jpg" alt="" />
          <p class="precios">$23.200</p>

          <p>5% OFF</p>

          <h4>SmarTv Samsung 43"</h4>
        </article>
      </section>
    </main>
    <footer>
      <section>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>

        <h3>Envío gratis desde $ 2.500</h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>

        <h3>Seguridad, de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@
        </p>

      </section>

      <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    
    </footer>
  </body>
</html>
