<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Mercado Liebre AAM</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <header class="top">
      
    </div>
    <div class="form" action="#" method="GET">
        
        <input class="input" type="search" name="Buscar" placeholder="Buscar productos, marcas y más" />
        <div class="submit"><i class="fa fa-search"></i></div>
    </div>
   

      <img class="first-logo" src="./images/logo-mercado-liebre.svg" />
      
      <h3 class="buy"><i class="fas fa-hand-holding-usd"></i>
        Comprá en cuotas y sin tarjeta credito</h3>
      <nav class="nav-bar">
        <ul class="list-one">
          <li><a href="https://ofertas.com" target="_blank"> Ofertas</a></li>
          <li>
            <a href="https://TiendasOficiales.com" target="_blank">
              Tiendas Oficiales</a
            >
          </li>
          <li><a href="https://vender.com" target="_blank"> Vender </a></li>
          <li><a href="https://ayuda.com" target="_blank"> Ayuda </a></li>
        </ul>

        <ul class="list-two">
          <li>
            <a href="/register.html" target="_blank">
              Creá tu cuenta
              <i class="far fa-id-card"></i>
              </a>
          </li>
          <li>
            <a href="/login.html" target="_blank"> Ingresá 
              <i class="fas fa-sign-in-alt"></i>
            </a>
          </li>
          <li>
            <a href="" target="_blank"> Mis Compras 
              <i class="fas fa-shopping-basket"></i>
            </a>
          </li>
        </ul>
      </nav>

      <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
    </header>
    <section class="segundo-logo">
      <img src="/images/img-home-banner.jpg" alt="banner mercado libre ">
    </section>
    <main>
      <section>
        <h3 class="title-one">Última vista</h3>
        <div class="articles">
        <article>
          <img src="./images/img-cafetera-moulinex.jpg" />
          <div class="description"></div><i class="fa-solid fa-truck"></i>

          <p class="prices">$6.770</p>

          <p class="discount">40% OFF</p>

          <h4>Cafetera Moulinex</h4>
        </div>
        </article>

        <article>
          <img src="/images/img-macbook-pro-2019.jpg" />
          <div class="description"></div><i class="fa-solid fa-truck"></i>
          <p class="prices">$230.000</p>

          <p class="discount">20% OFF</p>

          <h4>MacBook pro 2019</h4>
        </div>
        </article>

        <article>
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="" />
          <div class="description"></div><i class="fa-solid fa-truck"></i>
          <p class="prices">$70.500</p>

          <p class="discount">10% OFF</p>

          <h4>Samsung Galaxy S10</h4>
        </div>
        </article>

        <article>
          <img src="/images/img-tv-samsung-smart.jpg" alt="" />
          <div class="description"></div><i class="fa-solid fa-truck"></i>
          <p class="prices">$23.200</p>

          <p class="discount">5% OFF</p>

          <h4>SmarTv Samsung 43"</h4>
        </div>
        </article>
      </section>
      <section>
        <h3>Sección Ofertas</h3>
        <article>
          <img src="/images/img-cafetera-moulinex.jpg" alt="" />
          <div class="description"></div><i class="fa-solid fa-truck"></i>
          <p class="prices">$6.770</p>

          <p class="discount">40% OFF</p>

          <h4>Cafetera Moulinex</h4>
        </div>
        </article>

        <article>
          <img src="/images/img-macbook-pro-2019.jpg" alt="" />
          <div class="description"></div><i class="fa-solid fa-truck"></i>
          <p class="prices">$230.000</p>

          <p class="discount">20% OFF</p>

          <h4>MacBook pro 2019</h4>
        </div>
        </article>

        <article>
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="" />
          <div class="description"></div><i class="fa-solid fa-truck"></i>
          <p class="prices">$70.500</p>

          <p class="discount">10% OFF</p>

          <h4>Samsung Galaxy S10</h4>
        </div>
        </article>

        <article>
          <img src="/images/img-tv-samsung-smart.jpg" alt="" />
          <div class="description"></div><i class="fa-solid fa-truck"></i>
          <p class="precios">$23.200</p>

          <p class="discount">5% OFF</p>

          <h4>SmarTv Samsung 43"</h4>
        </div>
        </article>
      </div>
      </section>
    </main>
    <footer>
      <section>
        <i id="TC" class="fa-solid fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>

        <i id="TC" class="fa-solid fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
        <i id="TC" class="fa-solid fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@
        </p>

      </section>

      <h3 class="cr">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    
    </footer>
  </body>
</html>
