/* ------------------------- QUERIES RESPONSIVE --------------------*/
/* MOBILE */

@media (max-width: 360px){
    nav {
        display: none;
    }
}

/* TABLETS */
@media (min-width: 361px){
    top-header{
        display: flex;
        flex-wrap: wrap;
    }
    header nav {
        display: flex;
        justify-content: space-between;
    }
    .lista-one {
        display: flex;
        justify-content: flex-start;
        justify-content: space-around;
        margin-left: 10px;
        list-style-type: none; 
    }
    .lista-two {
        display: flex;
        justify-content: flex-end;
        justify-content: space-around;
        margin-right: 10px;
        list-style-type: none;  
    }
    .nav-buttons1{
        margin-right: 8px;
    }
    .nav-buttons2{
        margin-left: 8px;
    }
    header nav ul a{
        margin: 8px;
    }
    .burger-menu{
        display: none;
    }
    .all-articles{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
    }
    article{
        width: 40vw;
    }
}

/* DESKTOP */
@media (min-width: 769px){
    article{
        width: 20vw;
    }
    .all-articles{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
    }

    footer section{
        display: flex;
    }

    .footer section{
        width: 25vw;
    }

    footer i:hover{
        color: grey;
    }
    
    .footer-article{
        padding: 40px;
    }
}

